[run]
source = python/src
omit =
    */tests/*
    */conftest.py
    */__pycache__/*
    */.venv/*
    */venv/*
    */env/*
    */.tox/*
    */site-packages/*
branch = True

[report]
precision = 2
show_missing = True
skip_covered = False

exclude_lines =
    # Standard pragma
    pragma: no cover

    # Debug code
    def __repr__

    # Not expected to be executed
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:

    # Abstract methods
    @abstractmethod

    # Defensive programming
    pass

[html]
directory = coverage_html_report

[xml]
output = coverage.xml
